mat-toolbar {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  height: 64px;
  padding: 0;
  margin: 0; 


  img {
    height: 70%;
    margin-left: 10px;
    max-width: 200px;
  }
  ul {
    margin-left: auto;
    padding: 0;
    list-style-type: none;
    height: 100%;
    li {
      display: inline-block;
      height: 100%;
      width: 86px;
      padding: 0;
      margin: 0;     
      a {
        text-decoration: none;
        text-align: center;
        height: 100%;
        display: block;
        color: #fafafa;
        &:hover, &.link-active{
          background-color: rgba(0, 0, 0, 0.4);
        }
        margin-top-icon {
          display: block;
          text-align: center;
          line-height: 64px;
          width: 100%;
          height: 100%;
          color: #ffffff;
        }
      }
      @media screen and (max-width: 660px) {
        width: 50px;
        a {
          span {
            display: none;
          }
        }
      }
      @media screen and (max-width: 450px) {
        width: 40px;
      }
    }
  }
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    mat-icon {
      margin-top: 16px;
    }
}